html {
  background-color: #2C2A35;
}

.Hero-Area {
  color: white;
  background-image: url(./assets/videoplaybackblack.gif);
  background-color: transparent;
  margin-bottom: 22px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.padding-area {
  padding-top: 9rem;
  padding-bottom: 9rem;
  margin-bottom: -2rem;
}

.Name-area {
  margin: 0;
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0em;
  padding-bottom: -12px !important;
}

.developer {
  letter-spacing: 12px;
  font-size: 2rem;
  font-weight: 400;
  /* font-size: 30px */
}

.Quote-area {
  letter-spacing: .2rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.MuiDrawer-paper {
  background: #242424 !important;
  color: white !important;
}
.About-Area {
  /* margin-top: 2rem; */
  background: #2F2E36;
}

.mePicture {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
  border-radius: 15px;
}

.mePicture:hover {
  border-radius: 60%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  /* -webkit-transform: rotateZ(-5deg);
  -ms-transform: rotateZ(-5deg);
  transform: rotateZ(-5deg);*/

}
